# Offset 02

* First method not working
    - some months have no zo value

Solution

* Duplicate zo values for the start of each month, for each sensor_id

In [1]:
import pandas as pd
import numpy as np

zo = pd.read_csv('zero-offset.csv')
data = pd.read_csv('data1.csv')

data.timestamp = pd.to_datetime(data['timestamp'], format='%Y-%m-%dT%H:%M:%S')
data = data.sort_values('timestamp')
data = data.reset_index()
data = data.drop(['id', 'index'], axis=1)

## What's inside the df?

In [2]:
zo.head()

   Unnamed: 0  sensor_id  zero_offset_value             start_timestamp
0           0         60             971.59  2016-01-10T19:57:57.046096
1           1         60             971.59  2016-01-10T20:08:45.564524
2           2         60             971.59  2016-01-12T16:06:29.952413
3           3         60             971.59  2016-01-14T08:04:48.571427
4           4         60             971.59  2016-01-14T08:51:59.052557

In [3]:
zo.tail()

       Unnamed: 0  sensor_id  zero_offset_value             start_timestamp
33778       33778       1008               0.00  2017-04-11T21:49:10.673274
33779       33779       1227             416.11  2017-04-11T21:29:02.570998
33780       33780       1227             416.11  2017-04-11T21:49:10.673274
33781       33781       3003               0.00  2017-04-11T21:29:02.570998
33782       33782       3003               0.00  2017-04-11T21:49:10.673274

In [4]:
# Clean it up

# Convert timestamp to datetime object                                                  
zo.start_timestamp = pd.to_datetime(zo['start_timestamp'], format='%Y-%m-%dT%H:%M:%S')  
# Sort by timestamp                                                                     
zo = zo.sort_values('start_timestamp')                                                  
zo = zo.reset_index()                                                                   
# Drop redundant columns                                                                
zo = zo.drop(['Unnamed: 0', 'index'], axis=1)                                           
# Remove microseconds                                                                   
zo.start_timestamp = zo.start_timestamp.apply(lambda x: x.replace(microsecond=0))       
# Rename zo columns                                                                     
zo.columns = ['sensor_id', 'offset_value', 'timestamp']

In [5]:
zo.dtypes

sensor_id                int64
offset_value           float64
timestamp       datetime64[ns]
dtype: object

In [6]:
zo.head()

   sensor_id  offset_value           timestamp
0         60        971.59 2016-01-10 19:57:57
1        170          0.00 2016-01-10 19:57:57
2        103          0.00 2016-01-10 19:57:57
3        219        407.43 2016-01-10 19:57:57
4        171          0.00 2016-01-10 19:57:57

In [7]:
zo.tail()

       sensor_id  offset_value           timestamp
33778        221   -228.558044 2017-04-11 21:49:10
33779        108      0.000000 2017-04-11 21:49:10
33780        220   -621.843943 2017-04-11 21:49:10
33781        263      0.000000 2017-04-11 21:49:10
33782       3003      0.000000 2017-04-11 21:49:10

In [8]:
# unique sensor_ids
sensor_ids = np.array(zo.sensor_id.unique())
sensor_ids

array([  60,  170,  103,  219,  171,  172,   72,  102,  173,  174,  101,
        218,  249,  175,  217,  100,  264,   73,  176,  177,   99,  216,
        178,   98,  179,  215,   74,   97,  248,  180,  250,  241,  104,
         71,  111,  159,  252,  224,  160,  110,  262,  161,  109,   69,
        162,  163,  223,  108,  164,  222,  107,  251,  165,  270,   70,
        166,  106,  167,  168,  105,  263,  220,  240,  169,  181,   96,
        182,   88,  194,  245,  195,   87,  196,  208,  197,   86,   79,
        198,   85,  267,  199,  207,   84,  244,  200,  268,   80,  201,
         83,  206,  202,  203,  205,  243,   82,  204,   78,  209,  193,
         89,  214,  183,  269,   75,   95,  265,  184,   94,  247,  185,
        213,   93,  186,   76,   68,  187,  188,  212,  189,   91,  211,
        246,  190,   77,   90,  266,  191,  210,  242,  192,   92,  158,
        221,   81,  125,  119,  147,   62,  271,   65,  118,  148,  137,
        234,  149,  229,  136,  117,  254,  150,  135,  151,  257,  237,
        228,  259,  116,  146,  238,   63,  122,  232,  142,  140,  143,
        256,  231,  123,  121,  144,  112,  233,   64,  120,  260,  139,
        124,  255,  145,  230,  138,   66,  126,  141,  261,  134,  253,
        227,  154,  113,  131,  132,  133,  114,  128,  226,  152,  236,
        155,  235,  156,  129,  225,  258,  130,  127,  239,  153,   61,
         67,  115,  157, 1002, 1004, 1001, 1003, 1006, 1005, 1007, 1008,
        274,  273,  272, 1236, 1241, 1235, 1242, 1219, 1237, 1239, 1253,
       1222, 1254, 1255, 1256, 1257, 1240, 1258, 1223, 1259, 1260, 1252,
       1233, 1243, 1220, 1244, 1245, 1246, 1247, 1238, 1248, 1221, 1249,
       1250, 1251, 1261, 1224, 1232, 1234, 1270, 1230, 1268, 1264, 1269,
       1225, 1262, 1227, 1228, 1266, 1263, 1267, 1226, 1271, 1229, 1265,
       1231, 2224, 2222, 2223, 2225, 3264, 3263, 2226, 2220, 2219, 2221,
       2230, 2229, 3266, 3265, 2227, 2228, 3002, 3001, 2701, 2702, 2751,
       2707, 2752, 2753, 2704, 2705, 2706, 2703, 2755, 2757, 2754, 2756,
       3003], dtype=int64)

In [9]:
# datetime list for the start of the month
start_date = np.array(pd.date_range(start='1/1/2016', end='1/1/2018', freq='MS'))
start_date

array(['2016-01-01T00:00:00.000000000', '2016-02-01T00:00:00.000000000',
       '2016-03-01T00:00:00.000000000', '2016-04-01T00:00:00.000000000',
       '2016-05-01T00:00:00.000000000', '2016-06-01T00:00:00.000000000',
       '2016-07-01T00:00:00.000000000', '2016-08-01T00:00:00.000000000',
       '2016-09-01T00:00:00.000000000', '2016-10-01T00:00:00.000000000',
       '2016-11-01T00:00:00.000000000', '2016-12-01T00:00:00.000000000',
       '2017-01-01T00:00:00.000000000', '2017-02-01T00:00:00.000000000',
       '2017-03-01T00:00:00.000000000', '2017-04-01T00:00:00.000000000',
       '2017-05-01T00:00:00.000000000', '2017-06-01T00:00:00.000000000',
       '2017-07-01T00:00:00.000000000', '2017-08-01T00:00:00.000000000',
       '2017-09-01T00:00:00.000000000', '2017-10-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [10]:
an_array = []
for date in start_date:
    for sensor in sensor_ids:
        an_array.append(date)
        an_array.append(sensor)

In [11]:
an_array = np.array(an_array)

In [13]:
time_with_id = an_array.reshape(7725, 2)

In [14]:
df_adjust = pd.DataFrame(time_with_id, columns=['timestamp', 'sensor_id'])

In [15]:
# Remove microseconds
df_adjust.timestamp = pd.to_datetime(df_adjust['timestamp'], format='%Y-%m-%dT%H:%M:%S')  
# df_adjust.timestamp = df_adjust.timestamp.apply(lambda x: x.replace(microsecond=0))
df_adjust.dtypes

timestamp    datetime64[ns]
sensor_id            object
dtype: object

In [16]:
df_adjust.head()

   timestamp sensor_id
0 2016-01-01        60
1 2016-01-01       170
2 2016-01-01       103
3 2016-01-01       219
4 2016-01-01       171

In [17]:
zo_adjusted = zo.merge(df_adjust, how='outer', on=['timestamp', 'sensor_id'])

In [18]:
zo_adjusted.dtypes

sensor_id              float64
offset_value           float64
timestamp       datetime64[ns]
dtype: object

In [19]:
zo_adjusted = zo_adjusted.sort_values('timestamp')

In [20]:
zo_adjusted.head()

       sensor_id  offset_value  timestamp
33783       60.0           NaN 2016-01-01
33993      115.0           NaN 2016-01-01
33992       67.0           NaN 2016-01-01
33991       61.0           NaN 2016-01-01
33990      153.0           NaN 2016-01-01

In [21]:
zo_adjusted.tail()

       sensor_id  offset_value  timestamp
41298       89.0           NaN 2018-01-01
41297      193.0           NaN 2018-01-01
41296      209.0           NaN 2018-01-01
41303       95.0           NaN 2018-01-01
41507     3003.0           NaN 2018-01-01

In [22]:
zo_adjusted.isnull().sum()

sensor_id          0
offset_value    7725
timestamp          0
dtype: int64

In [23]:
# FillNA IF
df_temp = []
sensor_ids = zo_adjusted['sensor_id'].unique()

for sensor in sensor_ids:
    df_temp.append(zo_adjusted[zo_adjusted['sensor_id'] == sensor].fillna(method='ffill').fillna(method='bfill'))

df = pd.DataFrame()
for d in df_temp:
    df = pd.concat([df, d])

In [24]:
zo_adjusted = df.sort_values('timestamp')

In [25]:
zo_adjusted.head()

       sensor_id  offset_value  timestamp
33783       60.0        971.59 2016-01-01
34001     1007.0          0.00 2016-01-01
33912      192.0         75.53 2016-01-01
33913       92.0        729.19 2016-01-01
33914      158.0          0.00 2016-01-01

In [26]:
zo_adjusted.tail()

       sensor_id  offset_value  timestamp
41496     2707.0         0.000 2018-01-01
41261      240.0         0.000 2018-01-01
41360      232.0         0.000 2018-01-01
41312       76.0      1866.935 2018-01-01
41200      170.0       430.436 2018-01-01

In [27]:
zo_adjusted.to_csv('zero-offset-z.csv')

In [38]:
df = pd.merge(data, zo_adjusted, how='left', on=['timestamp', 'sensor_id'])

# Fill NA for each sensor id
sensor_ids = df['sensor_id'].unique()
df_temp = []
for sensor in sensor_ids:
    df_temp.append(df[df['sensor_id'] == sensor].fillna(method='ffill').fillna(method='bfill'))

df = pd.DataFrame()

for d in df_temp:
    df = pd.concat([df, d])
df = df.sort_values('timestamp')

# Write to csv
filename = 'data1-z.csv'
df.to_csv(filename)
print('Wrote to file: ' + filename)

Wrote to file: data1-z.csv